{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block specificStylesheets %}
    {{ encore_entry_link_tags('register') }}

{% endblock %}

{% block body %}
    {% for flashMessage in app.flashes('success') %}
        <div class="flash-message flash-message-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('error') %}
        <div class="flash-message flash-message-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Register</h1>
    <div class="registrationForm">
        
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nickname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <a href="{{ path('rgpd') }}">User Conditions</a>

        <button class="btn" type="submit">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
