{% extends 'base.html.twig' %}
{# This is the registration page #}
{% block title %}Register{% endblock %}

{% block specificStylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.flashes('success') %}
        <div class="flash-message flash-message-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('error') %}
        <div class="flash-message flash-message-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Register</h1>
    <div class="registrationForm">
        <!-- Display any success or error messages -->
        {{ form_errors(registrationForm) }}
        <!-- Start the registration form -->
        {{ form_start(registrationForm) }}
        <!-- Render form fields -->
        {{ form_row(registrationForm.nickname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <!-- Link to User Conditions page -->
        <a href="{{ path('rgpd') }}">User Conditions</a>
        <!-- Submit button -->
        <button class="btn" type="submit">Register</button>
        <!-- End the registration form -->
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
