{% extends 'base.html.twig' %}

{% block title %}
    All Categories
    {{ parent() }}
{% endblock %}

{% block body %}

    {% for flashMessage in app.flashes('success') %}
        <div class="flash-message flash-message-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('error') %}
        <div class="flash-message flash-message-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>All the categories!</h1>

    {% block content %}
        <div>
            {% for category in categories %}
                {% include 'components/_cardCategory.html.twig' with { 'category': category } %}
                {% if category.createdBy == current_user %}
                    <a href="{{ path('admin.category.edit', {id: category.id}) }}">Edit</a>
                    <form action="{{ path('admin.category.delete', {id: category.id}) }}" method="post" style="display:inline;">
                        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ category.id) }}">
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
