{% extends 'base.html.twig' %}

                {% block specificStylesheets %} {{ encore_entry_link_tags('detail') }}{% endblock %}
     
{% block body %}
<h1>Iced Tears</h2>
    <article class="detail">
        <div class="detail">
     
            <h1 class="title">{{ article.title }}</h1>
            
        </div>
        <p class="author">Author: {{ article.user.nickname }}</p>
        <p class="date">Published on: {{ article.createAt|date('j/m/Y') }}</p>
        
        <div class="categories">
            <h3>Categories:</h3>
            <div>
                {% for category in article.categories %}
                    <p class="category_title">{{ category.title }}</p>
                {% endfor %}   
                     <div class="content card-text">
            {{ article.content|raw }}
        </div>
            </div>
        </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        
           <a href="{{ path('admin.article.edit', {id: article.id}) }}" class="btn-modify">Edit</a>
            <form method="POST" action="{{ path('admin.article.delete', {'id': article.id}) }}"
                  onsubmit="return confirm('Are you sure you want to delete this article? This action cannot be undone.')">
                <input type="hidden" name="token" value="{{ csrf_token('delete' ~ article.id) }}">
                
             
                <button class="btn-delete">Delete</button>
            </form>
        
    {% endif %}
        </div>

    </article> 
  
{% endblock %}

 