{{form_start (form)}}
    <div class="form-article"> 
        {{ form_row(form.title) }}
        {# form_row(form.category)#}
        {{ form_row(form.content) }}
        {{ form_row(form.author) }}
    </div>
  
{{form_end}}