{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

 {% block body %}
 

    {% for flashMessage in app.flashes('success') %}
        <div class="flash-message flash-message-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('error') %}
        <div class="flash-message flash-message-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

 {% block content %}
 <h1>Edit an article!</h1>
 <div class="form-article">

{{ form_start(form) }}
    {{ form_errors(form) }}
    
    {{ form_row(form.title) }}
    {{ form_widget(form.category) }}
 
    {{ form_row(form.content) }}

    {{ form_row(form.validate, {'label': 'Modify' }) }}
{{ form_end(form) }} 
 </div>  
{{ form_rest(form) }}

 {% endblock %}



    {# Il tuo codice HTML per il form di modifica dell'articolo qui #}
{% endblock %}
