{% extends 'base.html.twig' %}
 {% block body %}
 
 <h1>Edit an article!</h1>
 <div class="form-article">

{{ form_start(form) }}
    {{ form_errors(form) }}
    
    {{ form_row(form.title) }}
    {{ form_widget(form.category) }}
 
    {{ form_row(form.content) }}

    {{ form_row(form.validate, {'label': 'Modify' }) }}
{{ form_end(form) }} 
 </div>  
{{ form_rest(form) }}

 {% endblock %}