<!DOCTYPE html>
<!-- This is the view twig base: the common structure for all webpages of my forum-->

<html lang="en" data-theme="dark">

    <head>    
        <title>{% block title %}IcedTears{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <meta name="description" content="Welcome to IcedTears, the ultimate Metal forum. Join us if you're a true metalhead, posers not welcome!">
        <link rel="icon" href="{{ asset('/img/fav.png') }}" type="image/x-icon" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
                {% block specificStylesheets %}{% endblock %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
           
        {% endblock %}
    </head>
    <body>
    
        <div class="container">
            {% include 'components/_navBar.html.twig' %}      
                <main>
                
                    {% block body %}
                    {% block content %}
                {% for flash in app.flashes('flash-message-error') %}
                    <div class="flash-message flash-message-error" role="alert">
                        {{ flash }}
                    </div>
                {% endfor %}

                {% for flash in app.flashes('flash-message-success') %}
                    <div class="flash-message flash-message-success" role="alert">
                        {{ flash }}
                    </div>
                {% endfor %}

                {% for flash in app.flashes('flash-message') %}
                    <div class="flash-message" role="alert">
                        {{ flash }}
                    </div>
                {% endfor %}

                {% for flash in app.flashes('flash-message-warning') %}
                    <div class="flash-message flash-message-warning" role="alert">
                        {{ flash }}
                    </div>
                {% endfor %}

                    {% endblock %}
                     {% endblock %}
                </main>
            {% include 'components/_footer.html.twig' %} 
        </div>
    </body>
</html>
