<footer>
    <!-- Begins the footer section -->
    <ul class="social">
        <!-- Begins the social media links list -->
        <li class="spotify">
            <a href="https://open.spotify.com/user/31wvfuofvbw3245pmbmdakt7uo4u" target="_blank">
                <img src="{{ asset('img/spotify.svg') }}" alt="spotify img">
            </a>
        </li>
        <li class="deezer">
            <a href="https://www.deezer.com/fr/profile/5915894923" target="_blank">
                <img src="{{ asset('img/deezer.svg') }}" alt="deezer img">
            </a>
        </li>
        <li class="facebook">
            <a href="https://www.facebook.com/profile.php?id=61557115244373" target="_blank">
                <img src="{{ asset('img/Facebook.svg') }}" alt="facebook img">
            </a>
        </li>
        <li class="instagram">
            <a href="https://www.instagram.com/icedtears6/" target="_blank">
                <img src="{{ asset('img/instagram.svg') }}" alt="instagram img">
            </a>
        </li>
    </ul>
    <!-- Ends the social media links list -->

    <p>
        <!-- Begins the contact information paragraph -->
        <address>
            <!-- Begins the address element -->
            <p>Maria Paola Mingrino</p>
            <p>Tel: <a href="tel:0752029237">0752029237</a></p>
            <p>Email: <a href="mailto:potofih846@hdrlog.com">potofih846@hdrlog.com</a></p>
        </address>
        <!-- Ends the address element -->
    </p>

    <p>
        <!-- Begins the additional links paragraph -->
        <a href="{{ path('cookies') }}" rel="noopener noreferrer">Cookies Policy</a>
        <!-- Link to the Cookies Policy page with the rel attribute set for security -->
        <a href="{{ path('rgpd') }}" rel="noopener noreferrer">User Condition</a>
        <!-- Link to the User Condition page with the rel attribute set for security -->
    </p>
</footer>
<!-- Ends the footer section -->


