<footer>
           
            <ul class="social">
                <span><li><img src="{{ asset('img/spotify.svg') }}" alt="spotify"></li></span>
                <span><li><img src="{{ asset('img/deezer.svg') }}" alt="deezer"></li></span>
                <span><li><img src="{{ asset('img/Facebook.svg') }}" alt="Facebook"></li></span>
                <span><li><img src="{{ asset('img/Instagram.svg') }}" alt="Instagram"></li></span>
                <span><li><img src="{{ asset('img/tiktok.svg') }}" alt="tiktok"></li></span>
            </ul>

          
    <address>
        <p>Maria Paola Mingrino</p>
        <p>Tel: <a href="tel:0752029237">0752029237</a></p>
        <p>Email: <a href="mailto:marypolly88@gmail.com">marypolly88@gmail.com</a></p>
    </address>
    <p>
        <a href="{{ path('cookies') }}" rel="noopener noreferrer">Cookies Policy</a>
        <a href="{{ path('rgpd') }}" rel="noopener noreferrer">User Condition</a>
    </p>
</footer>
