<footer>
           
            <ul class="social">
                <li class="spotify"><img src="{{ asset('img/spotify.svg') }}" class="spotify"  alt="spotify"><a href="https://open.spotify.com/user/31wvfuofvbw3245pmbmdakt7uo4u"><a/></li>
                <li class="deezer"><img src="{{ asset('img/deezer.svg') }}"  alt="deezer"><a href="https://www.deezer.com/fr/profile/5915894923"><a/></li>
                <li class="facebook"><img src="{{ asset('img/Facebook.svg') }}" alt="facebook"><a href="https://www.facebook.com/profile.php?id=61557115244373"><a/></li>
                <li class="instagram"><img src="{{ asset('img/Instagram.svg') }}" alt="instagram"><a href="https://www.instagram.com/icedtears6/"><a/></li>
                <li class="tiktok"><img src="{{ asset('img/tiktok.svg') }}" alt="tiktok"><a href=""><a/></li>
            </ul>

          
    <address>
        <p>Maria Paola Mingrino</p>
        <p>Tel: <a href="tel:0752029237">0752029237</a></p>
        <p>Email: <a href="potofih846@hdrlog.com">potofih846@hdrlog.com</a></p>
    </address>
    <p>
        <a href="{{ path('cookies') }}" rel="noopener noreferrer">Cookies Policy</a>
        <a href="{{ path('rgpd') }}" rel="noopener noreferrer">User Condition</a>
    </p>
</footer>
