<nav role="navigation">
    <!-- Navigation menu container -->
    <div>
        <!-- Logo link -->
        <a href="{{ path('home') }}">
            <img class="logo" src="{{ asset('img/LOGO.svg') }}" alt="It's an image!">
            <!-- Logo image with alternative text -->
        </a>
    </div>

    <!-- Mobile menu toggle -->
    <div id="menuToggle">
        <!-- Checkbox for mobile menu toggle -->
        <input type="checkbox" class="checkbox" />
        <!-- Span elements for the menu toggle icon -->
        <span></span>
        <span></span>
        <span></span>

        <!-- Menu items -->
        <ul id="menu">
            <!-- Check if user is authenticated -->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <!-- Links for authenticated users -->
                <li><a href="{{ path('user') }}" class="btn">Profile</a></li>
                <li><a href="{{ path('app_logout') }}" class="btn-logout">Logout</a></li>
                <li><a href="{{ path('admin.article.create') }}" class="btn">Create Article</a></li>
                <li><a href="{{ path('admin.category.create') }}" class="btn">Create Category</a></li>
            {% else %}
                <!-- Links for non-authenticated users -->
                <li><a href="{{ path('login') }}" class="btn-log">Login</a></li>
                <li><a href="{{ path('register') }}" class="btn-log">Register</a></li>
            {% endif %}
            <!-- Common links for all users -->
            <li><a href="{{ path('admin.article.read') }}" class="btn"> All articles</a></li>
            <li><a href="{{ path('admin.category.read') }}" class="btn"> All categories</a></li>
            <li><a href="{{ path('concerts') }}" class="btn"> Concerts</a></li>
        </ul>
    </div>
</nav>
