{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit User</h1>

    {# Block for specific stylesheets, includes the 'edit_profile' entry #}
    {% block specificStylesheets %}{{ encore_entry_link_tags('edit_profile') }}{% endblock %}

    <div class="edit_profile">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">Save changes</button>
        {{ form_end(form) }}
        <button><a href="{{ path('user') }}">Back to profile</a></button>
    </div>
{% endblock %}